.slider
  background-color headerUser
  width 100%

  .container
    padding 0
    display flex
    justify-content space-between
    width 100%
    max-height 630px

.js-main-slider
  position relative
  max-width 1025px
  width 100%

  .main-slider__item
    position relative
    // width 100%
    outline none

    img
      size(1025px, 630px)
      outline none

  .main-item
    padding 48px 282px 100px 50px
    position absolute
    bottom 0
    left 0
    width 100%
    background-color rgba(30, 30, 31, 0.35)
    color #eeeeee
    z-index 1

    h4
      height 30px
      margin-bottom 12px
      font-family rajdhaniBoldFont
      font-size 30px
    p
      max-width 530px
      width 100%
      line-height 24px
      font-family lightFont
      font-size 16px

.small-slider
  position relative
  max-width 341px
  width 100%

.js-small-slider
  position relative
  width 100%
  max-height 565px
  &:before
    content ''
    position absolute
    display block
    top 0
    bottom 0
    right 0
    left 0
    z-index 1
    background-color rgba(0, 0, 0, .6)

  .slick-list
    max-height 565px

  .slick-track
    div
      border none

  .slick-dots
    padding 10px
    position absolute
    bottom 44px
    left 30px
    z-index 1
    text-align center

  .small-slider__dots
    padding 2px 0
    color #e2e2e2
    font-family lightFont
    font-size 16px
    cursor pointer

  .slick-active
    .small-slider__dots
      position relative
      font-size 48px
      text-transform uppercase
      &:after
        content ''
        position absolute
        right 20px
        top 50%
        height 1px
        width 98px
        background-color #ec1e24


.small-slider__see-more
  padding 20px 50px
  position absolute
  top 144px
  right 0
  z-index 1
  text-align right

  h4
    padding-bottom 15px
    position relative
    color #eeeeee
    font-family rajdhaniBoldFont
    line-height 38px
    font-size 38px
    text-transform uppercase
    margin-bottom 17px

    &:before
      content ''
      position absolute
      right 316px
      bottom -2px
      size(14px,14px)
      border-radius 50%
      background-color #ec1e24
    &:after
      content ''
      position absolute
      bottom 5px
      right 0
      size(316px, 2px)
      background-color #ec1e24

  button
    padding 0 32px
    height 38px
    border 1px solid #ec1e24
    background-color #ec1e24
    color #eeeeee
    cursor pointer
    font-size 14px
    text-transform uppercase
    transition all linear .5s

    &:hover
      background none


.small-slider__info
  padding 28px 50px 28px 30px
  position absolute
  bottom 0
  left 0
  display flex
  justify-content space-between
  align-items center
  max-height 70px
  max-width 342px
  width 100%
  background-color #242428
  color #f0f0f1
  transition all linear .5s
  z-index 1

  &:hover
    background-color #ec1e24

  span
    font-family lightFont
    font-size 14px

  .small-slider__timer
    .icon
      fill #e1e1e1
      size(8px, 12px)
      margin-right 10px

  .small-slider__controls--next
    cursor pointer
    transition all linear .5s
    &:hover
      color #242428
      .icon
        fill #242428
    span
      text-transform uppercase
      margin-right 10px
    .icon
      fill #e1e1e1
      size(14px, 12px)
      transition all linear .5s
