header
  height 64px
  color #eeeeee
  background-color headerUser


  .container
    display flex
    justify-content space-between
    align-items center
    height 64px
    padding 22px 0px

.header-nav
  padding-right 95px
  display -webkit-flex
  display -ms-flex
  display -moz-flex
  display flex
  align-items center
  max-width 854px
  width 100%
  height 64px
  background headerNav

  &__list
    width 100%
    display flex
    justify-content flex-end
    align-items center

  &__item
    position relative
    padding 0 15px

    .icon
      fill #ec1e24
      size(6px, 7px)
      margin-right 5px

    &.active
      .icon
        transform rotate(90deg)

  &__link
    color #eeeeee

.header-user
  padding 0 31px
  display flex
  justify-content flex-end
  align-items center
  background headerUser
  max-width 512px
  width 100%
  height 64px

  &__search
    display flex
    justify-content flex-end
    padding 0 15px
    align-items center

    label
      display flex
      justify-content flex-end
      align-items center

    span
      padding 0 20px 0 8px
      color #717174
      cursor pointer
      transition all linear .5s

    .icon
      fill #e4e4e4
      size(18px)
      cursor pointer
      transition all linear .5s
      &:hover
        fill #ec1e24

      &:focus
        fill #ec1e24

  &__input
    border none
    border-bottom 1px solid #353539
    background none
    max-width: 55px
    width 100%
    transition all linear .5s

    &::-moz-placeholder
        color headerUser
    &::-webkit-input-placeholder
        color headerUser

    &:focus
      padding 0 5px
      color #eeeeee
      border-bottom 1px solid #9a1e23
      max-width: 180px
      width 100%

      &::-moz-placeholder
          color #eeeeee
      &::-webkit-input-placeholder
          color #eeeeee

      & + span
        color #eeeeee

  &__icon
    position relative
    padding 0 15px
    display flex
    justify-content center
    align-items center

    .icon
      fill #e4e4e4
      size(18px)
      cursor pointer
      transition all linear .5s

      &:hover
        fill #ec1e24

.header-user__sandwich
    position relative
    display inline-block
    vertical-align middle
    width 25px
    height 20px
    cursor pointer

    &:hover
      .sandwich-line
        background-color #ec1e24

    &.active
        .sandwich-line--top
            top 8px
            transform rotate(45deg)

        .sandwich-line--middle
            opacity 0

        .sandwich-line--bottom
            top 8px
            transform rotate(-45deg)

.sandwich-line
    position absolute
    left 50%
    margin-left -12.5px
    display block
    width 25px
    height 4px
    background-color #fff
    transition all linear .5s

.sandwich-line--top
    top 0px

.sandwich-line--middle
    top 8px
    opacity 1

.sandwich-line--bottom
    top 16px
