.activity-menu.animated.fadeIn
  .activity-menu__info
    .activity-menu__image
      .activity-slider__item
        img(src="static/img/content/activityMenu/Explore.jpg" alt="Explore")
      .activity-slider__item
        img(src="static/img/content/activityMenu/sportsFitness.jpg" alt="Hunt")
      .activity-slider__item
        img(src="static/img/content/activityMenu/Explore.jpg" alt="Everyday")
      .activity-slider__item
        img(src="static/img/content/activityMenu/sportsFitness.jpg" alt="Survive")
      .activity-slider__item
        img(src="static/img/content/activityMenu/Explore.jpg" alt="Work")
      .activity-slider__item
        img(src="static/img/content/activityMenu/sportsFitness.jpg" alt="Defend")      
    
  .activity-menu__discount
    span First try? Get 5% discount
    p There are many variations of passages of Lorem Ipsum available
    label
    from.activity-menu__email
      label(for="email")
        input(type="email" name="email" id="email" placeholder="Add your email")
        button
          +icon('email')
