.header-menu
  .header-menu__info
    h4.header-menu__title Menu
    ul.header-menu__list.animated.fadeInRight
      li
        +icon('headerArrowRight')
        a(href="#").header-menu__link.header-menu__link--products Products
      li
        +icon('headerArrowRight')
        a(href="#").header-menu__link.header-menu__link--activity Activity
      li
        a(href="#").header-menu__link Promotion
      li
        a(href="#").header-menu__link Company
      li
        a(href="#").header-menu__link Be a hero
      li
        a(href="#").header-menu__link Payment&Delivery
      li
        a(href="#").header-menu__link Manufacturing
      li
        a(href="#").header-menu__link Contacts
      li
        a(href="#").header-menu__link How to buy
      li
        a(href="#").header-menu__link We on Amazon
      li
        a(href="#").header-menu__link Support
      li
        a(href="#").header-menu__link Warranty
    
    ul.menu-products.animated.fadeInRight
      li.menu-products__btn
        button Back
        +icon('headerArrowRight')
      li.menu-products__item
        a(href="#").menu-products__link Multitools
      li.menu-products__item
        a(href="#").menu-products__link Pocket Knives & Folding Knives
      li.menu-products__item
        a(href="#").menu-products__link Fixed Blade Hunting Knives
      li.menu-products__item
        a(href="#").menu-products__link Hunting & Tactical Knives & Tools
      li.menu-products__item
        a(href="#").menu-products__link Tactical Knives
      li.menu-products__item
        a(href="#").menu-products__link Tools & Home Improvement
      li.menu-products__item
        a(href="#").menu-products__link Sports & Fitness
      li.menu-products__item
        a(href="#").menu-products__link Kitchen & Dining
      

  .header-menu__contacks
    .menu-phone
      span Contacts us
      a(href="tel:+18885355555") +1-888-535-5555
      a(href="tel:+18885355555") +1-888-535-5555
  
    ul.menu-social
      li
        a(href="#").menu-social__link
          +icon('menuInstagram')
      li
        a(href="#").menu-social__link.menu-social__link--fb
          +icon('menuFacebook')
      li
        a(href="#").menu-social__link
          +icon('menuTwitter')
      li
        a(href="#").menu-social__link
          +icon('menuYoutube')
