.products-menu.animated.fadeIn
  .products-menu__info
    .products-menu__image
      .products-slider__item
        img(src="static/img/content/productsMenu/sportsFitness.jpg" alt="Multitools")
      .products-slider__item
        img(src="static/img/content/productsMenu/productsFitness-1.jpg" alt="Pocket Knives & Folding Knives")
      .products-slider__item
        img(src="static/img/content/productsMenu/sportsFitness.jpg" alt="Fixed Blade Hunting Knives")
      .products-slider__item
        img(src="static/img/content/productsMenu/productsFitness-1.jpg" alt="Hunting & Tactical Knives & Tools")
      .products-slider__item
        img(src="static/img/content/productsMenu/sportsFitness.jpg" alt="Tactical Knives")
      .products-slider__item
        img(src="static/img/content/productsMenu/productsFitness-1.jpg" alt="Tools & Home Improvement")
      .products-slider__item
        img(src="static/img/content/productsMenu/sportsFitness.jpg" alt="Sports & Fitness")
      .products-slider__item
        img(src="static/img/content/productsMenu/productsFitness-1.jpg" alt="Kitchen & Dining")      
    
  ul.products-menu__list
    li
      a(href="#").products-menu__link New
    li
      a(href="#").products-menu__link Top rated
    li
      a(href="#").products-menu__link Sale
