@font-face
    font-family "RobotoRegular"
    src url("../fonts/RobotoRegular/Roboto-Regular_0.ttf") format("truetype")
    font-style normal
    font-weight normal

@font-face
    font-family "RobotoLight"
    src url("../fonts/RobotoLight/Roboto-Light_1.ttf") format("truetype")
    font-style normal
    font-weight normal

@font-face
    font-family "RobotoBold"
    src url("../fonts/RobotoBold/Roboto-Bold_1.ttf") format("truetype")
    font-style normal
    font-weight normal

@font-face
    font-family "RajdhaniBold"
    src url("../fonts/RajdhaniBold/Rajdhani-Bold.ttf") format("truetype")
    font-style normal
    font-weight normal
