// ЦВЕТА

headerNav = #242428
headerUser = #1e1e22



// РАЗМЕРЫ
baseFontSize = 16px
desktopWidth = 1366px


// ШРИФТЫ
mainFont         = 'RobotoRegular', Arial, Helvetica, sans-serif
lightFont        = 'RobotoLight', Arial, Helvetica, sans-serif
boldFont         = 'RobotoBold', Arial, Helvetica, sans-serif
rajdhaniBoldFont = 'RajdhaniBold', Arial, Helvetica, sans-serif
