section.slider
  .container
    .js-main-slider
      .main-slider__item
        img(src="static/img/content/mainSlider/slide_01.jpg" alt="slide1")
        .main-item
          h4.main-item__name 6495
          p.main-item__text Folding knife with long blade and wood handle. 
            | Unusual design is a crucial feature of this knife. It's ready for 
            | the usage even being folder.  
      .main-slider__item
        img(src="static/img/content/mainSlider/slide_02.jpg" alt="slide2")
        .main-item
          h4.main-item__name 6495
          p.main-item__text Folding knife with long blade and wood handle. 
            | Unusual design is a crucial feature of this knife. It's ready for 
            | the usage even being folder. 
      .main-slider__item
        img(src="static/img/content/mainSlider/slide_01.jpg" alt="slide3")
        .main-item
          h4.main-item__name 6495
          p.main-item__text Folding knife with long blade and wood handle. 
            | Unusual design is a crucial feature of this knife. It's ready for 
            | the usage even being folder. 
      .main-slider__item
        img(src="static/img/content/mainSlider/slide_02.jpg" alt="slide4")
        .main-item
          h4.main-item__name 6495
          p.main-item__text Folding knife with long blade and wood handle. 
            | Unusual design is a crucial feature of this knife. It's ready for 
            | the usage even being folder. 
      .main-slider__item
        img(src="static/img/content/mainSlider/slide_01.jpg" alt="slide5")
        .main-item
          h4.main-item__name 6495
          p.main-item__text Folding knife with long blade and wood handle. 
            | Unusual design is a crucial feature of this knife. It's ready for 
            | the usage even being folder. 
      .main-slider__item
        img(src="static/img/content/mainSlider/slide_02.jpg" alt="slide6")
        .main-item
          h4.main-item__name 6495
          p.main-item__text Folding knife with long blade and wood handle. 
            | Unusual design is a crucial feature of this knife. It's ready for 
            | the usage even being folder.
    
    .small-slider       
      .js-small-slider
        .small-slider__item
          img(src="static/img/content/smallSlider/smallSlide_01.jpg" alt="slide1")
        .small-slider__item
          img(src="static/img/content/smallSlider/smallSlide_01.jpg" alt="slide1")
        .small-slider__item
          img(src="static/img/content/smallSlider/smallSlide_01.jpg" alt="slide1")
        .small-slider__item
          img(src="static/img/content/smallSlider/smallSlide_01.jpg" alt="slide1")
        .small-slider__item
          img(src="static/img/content/smallSlider/smallSlide_01.jpg" alt="slide1")
      
      .small-slider__see-more
        h4 Flipper open Folding knife
        button See more
            
      .small-slider__info
        .small-slider__timer
          +icon('smallSliderPause')
          span 04:79
        .small-slider__controls--next
          span Leaf down
          +icon('smallSliderArrowDown')
    
